* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#joinContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#joinContainer h2 {
    margin-bottom: 20px;
}

#nameInput {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

#joinButton {
    padding: 10px;
    border: none;
    background: #5cb85c;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#chatContainer {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    height: calc(100% - 140px); /* Adjusted to make room for input and invite containers */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    position: relative;
}

.message.sent {
    background-color: #DCF8C6;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.message.received {
    background-color: #FFFFFF;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

.timestamp {
    font-size: 10px;
    color: gray;
    text-align: right;
    margin-top: 5px;
}

#inputContainer {
    display: flex;
    padding: 10px;
    background: #f1f1f1;
    border-top: 1px solid #ddd;
}


#messageInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sendButton {
    padding: 10px;
    border: none;
    background: #5cb85c;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
}

#inviteContainer {
    display: flex;
    padding: 10px;
    background: #f9f9f9;
    border-top: 1px solid #ccc;
    justify-content: center;
}

#inviteLink {
    width: 80%;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#copyButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
